<ul id="menu">
    <li><a href="/">Home</a></li>
    
    <li><a href="contact-us">Contact Us</a></li>
    <li><a href="http://usmanlive.com">UsmanLive</a></li>
</ul>

<% console.log("THis is from menu") %>