<form action="" method="POST" class="container">
    <div class="mb-3">
        <label for="" class="form-label">Make</label>
        <input type="text" class="form-control" name="make"/>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Model</label>
        <input type="text" class="form-control" name="model"/>
    </div><div class="mb-3">
        <label for="" class="form-label">Variant</label>
        <input type="text" class="form-control" name="variant"/>
    </div>
    <button class="btn btn-info" type="submit">Add New Record</button>
</form>