<form action="" method="POST">
<div class="mb-3">
    <label for="" class="form-label">Title</label>
    <input type="text" name="title" class="form-control" value="<%= game.title %>"/>
</div>

<div class="mb-3">
    <label for="" class="form-label">Description</label>
    <textarea name="description" id="" cols="30" rows="10" class="form-control"><%= game.description %></textarea>
</div>

<div class="mb-3">
    <label for="" class="form-label">Price</label>
    <input type="text" name="price" class="form-control" value="<%= game.price %>"/>
</div>

<button class="btn btn-info">Update</button>

</form>